

<h2 class="section-heading h1 pt-4">Contact us</h2>
   <!--Section description-->
   <p class="section-description">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within matter of hours to help you.</p>

   <div class="row">

       <!--Grid column-->
       <div class="col-md-8 col-xl-9">
           <form id ="contact-form" name="contact-form" action="mail.php" method="POST">

               <!--Grid row-->
               <div class="row">

                   <!--Grid column-->
                   <div class="col-md-6">
                       <div class="md-form">
                           <div class="md-form">
                               <input type="text" id="name" name="name" class="form-control">
                               <label for="name" class="">Your name</label>
                           </div>
                       </div>
                   </div>
                   <!--Grid column-->

                   <!--Grid column-->
                   <div class="col-md-6">
                       <div class="md-form">
                           <div class="md-form">
                               <input type="text" id="email" name="email" class="form-control">
                               <label for="email" class="">Your email</label>
                           </div>
                       </div>
                   </div>
                   <!--Grid column-->

               </div>
               <!--Grid row-->

               <!--Grid row-->
               <div class="row">
                   <div class="col-md-12">
                       <div class="md-form">
                           <input type="text" id="subject" name="subject" class="form-control">
                           <label for="subject" class="">Subject</label>
                       </div>
                   </div>
               </div>
               <!--Grid row-->

               <!--Grid row-->
               <div class="row">

                   <!--Grid column-->
                   <div class="col-md-12">

                       <div class="md-form">
                           <textarea type="text" id="message" name="message" class="md-textarea"></textarea>
                           <label for="message">Your message</label>
                       </div>

                   </div>
               </div>
               <!--Grid row-->

           </form>

           <div class="center-on-small-only">
               <button class="btn btn-block btn-primary" onclick="document.getElementById('contact-form').submit();">Send</button>
           </div>
           <div class="status" id="status"></div>
       </div>
